export_vmd/xsd/work-packet.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- <TreeWorkPacket> -->
	<xs:element name="TreeWorkPacket">
		<xs:complexType>
			<!-- <sAcctType> varchar(1)*			[W], R, Y, Z (see list below) -->
			<xs:simpleType name="sAcctType">
				<xs:restriction base="xs:string">
					<xs:length value="1"/>
				</xs:restriction>
			</xs:simpleType>

			<!-- <sRoleType> varchar(2)*			[PI], TT -->
			<xs:simpleType name="sRoleType">
				<xs:restriction base="xs:string">
					<xs:length value="2"/>
				</xs:restriction>
			</xs:simpleType>

			<!-- <sDT> varchar(1)*			D, [T] -->
			<xs:simpleType name="sDT">
				<xs:restriction base="xs:string">
					<xs:length value="1"/>
				</xs:restriction>
			</xs:simpleType>

			<!-- <sDivCode> varchar(2)*			User selected value (listed in appendix) -->
			<xs:simpleType name="sDivCode">
				<xs:restriction base="xs:string">
					<xs:length value="2"/>
				</xs:restriction>
			</xs:simpleType>

			<!-- <iProjID> int				[NULL] or user supplied value -->
			<xs:simpleType name="iProjID">
				<xs:restriction base="xs:integer">
					<xs:maxInclusive value="2147483647" />
					<xs:minInclusive value="-2147483648" />
				</xs:restriction>
			</xs:simpleType>

			<!-- <bQC> bit*				[0], 1 -->
			<xs:element name="">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:pattern value="[0-1]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- <bReadOnly> bit*			[0], 1 -->
			<xs:element name="">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:pattern value="[0-1]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- <sInspComp> varchar(3)			[NULL] or user supplied value from list below -->
			<xs:simpleType name="sInspComp">
				<xs:restriction base="xs:string">
					<xs:length value="3"/>
				</xs:restriction>
			</xs:simpleType>

			<!-- <sAssignedUser> varchar(50)		[NULL] or user supplied value -->
			<xs:simpleType name="sAssignedUser">
				<xs:restriction base="xs:string">
					<xs:length value="50"/>
				</xs:restriction>
			</xs:simpleType>

			<!-- <sWorkPacketStatus> char(3)		[NEW], INP, CMP -->
			<xs:simpleType name="sWorkPacketStatus">
				<xs:restriction base="xs:string">
					<xs:length value="3"/>
				</xs:restriction>
			</xs:simpleType>

			<!-- <sTransmitStatus> char(2)		[CI], CO -->
			<xs:simpleType name="sTransmitStatus">
				<xs:restriction base="xs:string">
					<xs:length value="2"/>
				</xs:restriction>
			</xs:simpleType>

			<!-- <sComments> varchar(1024)		[NULL]  or user supplied value - **Recommend using import batch ID from external system -->
			<xs:simpleType name="sComments">
				<xs:restriction base="xs:string">
					<xs:length value="1024"/>
				</xs:restriction>
			</xs:simpleType>

			<!-- <bObsolete> bit*			[0], 1 -->
			<xs:element name="">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:pattern value="[0-1]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- <bAdHoc> bit				0, [1] -->
			<xs:element name="">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:pattern value="[0-1]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- <sGenType> char(2)			[T0],TS,TR,C0,CS,CR -->
			<xs:simpleType name="sGenType">
				<xs:restriction base="xs:string">
					<xs:length value="2"/>
				</xs:restriction>
			</xs:simpleType>

			<!-- <iPacketParent>	int			[NULL] -->
			<xs:simpleType name="iPacketParent">
				<xs:restriction base="xs:integer">
					<xs:maxInclusive value="2147483647" />
					<xs:minInclusive value="-2147483648" />
				</xs:restriction>
			</xs:simpleType>

			<!-- <TreeLoc> -->
			<xs:element name="TreeLoc">
				<xs:complexType>
					<!-- <iSSDRoute> int				*Default to 10 -->
					<xs:simpleType name="iSSDRoute">
						<xs:restriction base="xs:integer">
							<xs:maxInclusive value="2147483647" />
							<xs:minInclusive value="-2147483648" />
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <iRouteNum> int				*Increment locations by 10 starting at 10 -->
					<xs:simpleType name="iRouteNum">
						<xs:restriction base="xs:integer">
							<xs:maxInclusive value="2147483647" />
							<xs:minInclusive value="-2147483648" />
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sDivCode> char(2)			*Valid DIV code below -->
					<xs:simpleType name="sDivCode">
						<xs:restriction base="xs:string">
							<xs:length value="2"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sCountyCode> char(2)			*Valid County Code below -->
					<xs:simpleType name="sCountyCode">
						<xs:restriction base="xs:string">
							<xs:length value="2"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sInspComp> char(3) 			*[PGE] or select from list below -->
					<xs:simpleType name="sInspComp">
						<xs:restriction base="xs:string">
							<xs:length value="3"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sInsp> char(4)				[SYSA] or userid of inspector -->
					<xs:simpleType name="sInsp">
						<xs:restriction base="xs:string">
							<xs:length value="4"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sArea> char(10)			[NULL] -->
					<xs:simpleType name="sArea">
						<xs:restriction base="xs:string">
							<xs:length value="10"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sCircuit> char(10)			*Circuit from list below -->
					<xs:simpleType name="sCircuit">
						<xs:restriction base="xs:string">
							<xs:length value="10"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sQuadMap> char(11)			[NULL] -->
					<xs:simpleType name="sQuadMap">
						<xs:restriction base="xs:string">
							<xs:length value="11"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sMapType> char(1)			[NULL] -->
					<xs:simpleType name="sMapType">
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sMapTypeNum> char(8)			[NULL] -->
					<xs:simpleType name="sMapTypeNum">
						<xs:restriction base="xs:string">
							<xs:length value="8"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sTagType> char(1)			*[D] or select from list below -->
					<xs:simpleType name="sTagType">
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sTagNum> char(10)			[NULL] -->
					<xs:simpleType name="sTagNum">
						<xs:restriction base="xs:string">
							<xs:length value="10"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sStreetNum> char(11)			*Use APN street number or [0] -->
					<xs:simpleType name="sStreetNum">
						<xs:restriction base="xs:string">
							<xs:length value="11"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sStreet> char(26)			*Use APN street name or [NO ROAD] -->
					<xs:simpleType name="sStreet">
						<xs:restriction base="xs:string">
							<xs:length value="26"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sDirections> varchar(70)				[NULL] -->
					<xs:simpleType name="sDirections">
						<xs:restriction base="xs:string">
							<xs:length value="70"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sRACode1> char(2)				[NULL] or select from list below -->
					<xs:simpleType name="sRACode1">
						<xs:restriction base="xs:string">
							<xs:length value="2"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sRACode2> char(2)			[NULL] or select from list below -->
					<xs:simpleType name="sRACode2">
						<xs:restriction base="xs:string">
							<xs:length value="2"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sCity> char(11)			*First 11 char of city, or nearest city if in unicorporated county territory -->
					<xs:simpleType name="sCity">
						<xs:restriction base="xs:string">
							<xs:length value="11"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sSourceDev> char(8)			*Use Tower ID xxx/xxx -->
					<xs:simpleType name="sSourceDev">
						<xs:restriction base="xs:string">
							<xs:length value="8"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sPriVolt> char(3)			Highest Line voltage on span or [NULL] if unknown -->
					<xs:simpleType name="sPriVolt">
						<xs:restriction base="xs:string">
							<xs:length value="3"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sSConst> char(1)			[NULL] -->
					<xs:simpleType name="sSConst">
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <bSRA> bit				*SRA = 1 if state/federal fire responsibility area, else 0 for LRA -->
					<xs:element name="">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:pattern value="[0-1]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<!-- <sComments> char(255)			[NULL] -->
					<xs:simpleType name="sComments">
						<xs:restriction base="xs:string">
							<xs:length value="255"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <bCommAlert> bit			*[0] -->
					<xs:element name="">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:pattern value="[0-1]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<!-- <sPCC> char(6)				[NULL] -->
					<xs:simpleType name="sPCC">
						<xs:restriction base="xs:string">
							<xs:length value="6"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sMisc> char(5)				[NULL] -->
					<xs:simpleType name="sMisc">
						<xs:restriction base="xs:string">
							<xs:length value="5"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sCustName> char(15)			Customer Name from APN or [NULL] -->
					<xs:simpleType name="sCustName">
						<xs:restriction base="xs:string">
							<xs:length value="15"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sCustPhone> char(12)			Customer Phone from APN or [NULL] -->
					<xs:simpleType name="sCustPhone">
						<xs:restriction base="xs:string">
							<xs:length value="12"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <bCustAtLoc> bit			*[0] -->
					<xs:element name="">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:pattern value="[0-1]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<!-- <sLocalID> char(2)			[NULL] -->
					<xs:simpleType name="sLocalID">
						<xs:restriction base="xs:string">
							<xs:length value="2"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sPoleNum> char(9)			Tower Number or [NULL] -->
					<xs:simpleType name="sPoleNum">
						<xs:restriction base="xs:string">
							<xs:length value="9"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sLineID> char(6)			Highest voltage Transmission Line on span -->
					<xs:simpleType name="sLineID">
						<xs:restriction base="xs:string">
							<xs:length value="6"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <dtInspDate> datetime			Inspection Date (flyover date) -->
					<xs:element name="dtInspDate" type="xs:date"/>
	
					<!-- <sRemNum> char(8)			[NULL] -->
					<xs:simpleType name="sRemNum">
						<xs:restriction base="xs:string">
							<xs:length value="8"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sAcctType> char(1)			[W], R, Y, Z or from list below -->
					<xs:simpleType name="sAcctType">
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sCustName2> char(15)			[NULL] or user entered -->
					<xs:simpleType name="sCustName2">
						<xs:restriction base="xs:string">
							<xs:length value="15"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sCustPhone2> char(12)			[NULL] or user entered -->
					<xs:simpleType name="sCustPhone2">
						<xs:restriction base="xs:string">
							<xs:length value="12"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sRACode3> char(2)			[NULL] or select from list below -->
					<xs:simpleType name="sRACode3">
						<xs:restriction base="xs:string">
							<xs:length value="2"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sRACode4> char(2)			[NULL] or select from list below -->
					<xs:simpleType name="sRACode4">
						<xs:restriction base="xs:string">
							<xs:length value="2"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sRACode5> char(2)			[NULL] or select from list below -->
					<xs:simpleType name="sRACode5">
						<xs:restriction base="xs:string">
							<xs:length value="2"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sRACode6> char(2)			[NULL] or select from list below -->
					<xs:simpleType name="sRACode6">
						<xs:restriction base="xs:string">
							<xs:length value="2"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <bUnderBuild> bit			[0],1 - Not sure if it's possible to visually determine if there is distrubution under the trans line -->
					<xs:element name="">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:pattern value="[0-1]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<!-- <iPIRoute> int				Incrementing number in order of inspection (1,2,3,... etc) -->
					<xs:simpleType name="iPIRoute">
						<xs:restriction base="xs:integer">
							<xs:maxInclusive value="2147483647" />
							<xs:minInclusive value="-2147483648" />
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sXStreet> char(255)			[NULL] or Nearest cross street or NULL if none within 1 mile -->
					<xs:simpleType name="sXStreet">
						<xs:restriction base="xs:string">
							<xs:length value="255"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sAPN> char(50)				[NULL] or APN number -->
					<xs:simpleType name="sAPN">
						<xs:restriction base="xs:string">
							<xs:length value="50"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sPoleNum2> char(9)			[NULL] or Next Tower Number in span (xxx/xxx) -->
					<xs:simpleType name="sPoleNum2">
						<xs:restriction base="xs:string">
							<xs:length value="9"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <iEasement> int				[NULL] -->
					<xs:simpleType name="iEasement">
						<xs:restriction base="xs:integer">
							<xs:maxInclusive value="2147483647" />
							<xs:minInclusive value="-2147483648" />
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <iSpanLength> int			[NULL] or Distance in ft. between tower 1 and tower 2 -->
					<xs:simpleType name="iSpanLength">
						<xs:restriction base="xs:integer">
							<xs:maxInclusive value="2147483647" />
							<xs:minInclusive value="-2147483648" />
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <iBioUnitsTrim> int			[NULL] -->
					<xs:simpleType name="iBioUnitsTrim">
						<xs:restriction base="xs:integer">
							<xs:maxInclusive value="2147483647" />
							<xs:minInclusive value="-2147483648" />
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <iBioUnitsRemoval> int			[NULL] -->
					<xs:simpleType name="iBioUnitsRemoval">
						<xs:restriction base="xs:integer">
							<xs:maxInclusive value="2147483647" />
							<xs:minInclusive value="-2147483648" />
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <bVELBArea> bit				Location within Valley Elderberry protection zone = 1, else 0 -->
					<xs:element name="">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:pattern value="[0-1]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<!-- <sTWADocNum> char(15)			[NULL] -->
					<xs:simpleType name="sTWADocNum">
						<xs:restriction base="xs:string">
							<xs:length value="15"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sTWAAgreement> char(4000)		[NULL] -->
					<xs:simpleType name="sTWAAgreement">
						<xs:restriction base="xs:string">
							<xs:length value="4000"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sTWASignedBy> char(50)			[NULL] -->
					<xs:simpleType name="sTWASignedBy">
						<xs:restriction base="xs:string">
							<xs:length value="50"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <gTWASignature> BLOB			[NULL] -->
					<xs:element name="blobsrc" type="xs:hexBinary"/>
					<!-- <dtTWASignedDate> datetime		[NULL] -->
					<xs:element name="dtTWASignedDate" type="xs:date"/>
	
					<!-- <iCityID> int				From city list below -->
					<xs:simpleType name="iCityID">
						<xs:restriction base="xs:integer">
							<xs:maxInclusive value="2147483647" />
							<xs:minInclusive value="-2147483648" />
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sTreeLocStatus> char(10)		[CMP_WK_NR], or value from list below -->
					<xs:simpleType name="sTreeLocStatus">
						<xs:restriction base="xs:string">
							<xs:length value="10"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <bHCPArea> bit				[NULL] -->
					<xs:element name="">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:pattern value="[0-1]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<!-- <sHCPAreaName> char(50)			[NULL] -->
					<xs:simpleType name="sHCPAreaName">
						<xs:restriction base="xs:string">
							<xs:length value="50"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <bE10cActivity> bit			[NULL] -->
					<xs:element name="">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:pattern value="[0-1]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<!-- <iE10cAcreage> int			[NULL] -->
					<xs:simpleType name="iE10cAcreage">
						<xs:restriction base="xs:integer">
							<xs:maxInclusive value="2147483647" />
							<xs:minInclusive value="-2147483648" />
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <bMBZ> bit				[NULL] -->
					<xs:element name="">
						<xs:simpleType>
							<xs:restriction base="xs:integer">
								<xs:pattern value="[0-1]"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<!-- <sMBZID> char(8)			[NULL] -->
					<xs:simpleType name="sMBZID">
						<xs:restriction base="xs:string">
							<xs:length value="8"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <sJointPoleUtility> char(60)		[NULL] -->
					<xs:simpleType name="sJointPoleUtility">
						<xs:restriction base="xs:string">
							<xs:length value="60"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <dtPrevInspDate> datetime		[NULL] -->
					<xs:element name="dtPrevInspDate" type="xs:date"/>
	
					<!-- <ExternalLocID> varchar(50)		Unique identifier of location from external source system -->
					<xs:simpleType name="ExternalLocID">
						<xs:restriction base="xs:string">
							<xs:length value="50"/>
						</xs:restriction>
					</xs:simpleType>
	
					<!-- <TreeLoc_GPS> -->
					<xs:element name="TreeLoc_GPS">
						<xs:complexType>
							<!-- <nLatitude> numeric(12, 9)		format:   39.736025000 -->
							<xs:simpleType name="nLatitude">
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value="9" />
									<xs:totalDigits value="12" />                    
								</xs:restriction>
							</xs:simpleType>
							<!-- <nLongitude> numeric(12, 9)		format: -121.859128000 -->
							<xs:simpleType name="nLongitude">
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value="9" />
									<xs:totalDigits value="12" />                    
								</xs:restriction>
							</xs:simpleType>
							<!-- <dtMobileCapture> datetime		Date/Time of flyover -->
							<xs:element name="dtMobileCapture" type="xs:date"/>
		
			
						</xs:complexType>        
					</xs:element>
					<!-- <TreeLocAlerts> -->
					<xs:element name="TreeLocAlerts">
						<xs:complexType>
							<!-- <iTreeLocID> int			*LocationID -->
							<xs:simpleType name="iTreeLocID">
								<xs:restriction base="xs:integer">
									<xs:maxInclusive value="2147483647" />
									<xs:minInclusive value="-2147483648" />
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sRACode> char(2)			*Alert code from list below -->
							<xs:simpleType name="sRACode">
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sUserID> varchar(50)			*[UserID] -->
							<xs:simpleType name="sUserID">
								<xs:restriction base="xs:string">
									<xs:length value="50"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <dtDateAdded> datetime			*[Inspection Date] -->
							<xs:element name="dtDateAdded" type="xs:date"/>
		
			
						</xs:complexType>        
					</xs:element>
					<!-- <TreeLocRestrictions> -->
					<xs:element name="TreeLocRestrictions">
						<xs:complexType>
							<!-- <iTreeLocID> int 			*LocationID -->
							<xs:simpleType name="iTreeLocID">
								<xs:restriction base="xs:integer">
									<xs:maxInclusive value="2147483647" />
									<xs:minInclusive value="-2147483648" />
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sRestrictionCode> char(2)		*Restriction code -->
							<xs:simpleType name="sRestrictionCode">
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <bTreeRecsRestriction> bit		IF related sLT value is L, then 0, else 1  (see Restrictions Table below) -->
							<xs:element name="">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:pattern value="[0-1]"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!-- <sUserID> varchar(50) 		*[UserID] -->
							<xs:simpleType name="sUserID">
								<xs:restriction base="xs:string">
									<xs:length value="50"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <dtDateAdded> datetime 		*[Inspection Date] -->
							<xs:element name="dtDateAdded" type="xs:date"/>
		
			
						</xs:complexType>        
					</xs:element>
					<!-- <TreeLocContacts> -->
					<xs:element name="TreeLocContacts">
						<xs:complexType>
							<!-- <sContactType> char(2)			*[R] Code indicating contact type (see list below) -->
							<xs:simpleType name="sContactType">
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <bPrimary> bit				*[1] Flag indicating if this is the primary contact for the location -->
							<xs:element name="">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:pattern value="[0-1]"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!-- <sComments> varchar(255) -->
							<xs:simpleType name="sComments">
								<xs:restriction base="xs:string">
									<xs:length value="255"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sLastName> varchar(50)			*Last name of customer -->
							<xs:simpleType name="sLastName">
								<xs:restriction base="xs:string">
									<xs:length value="50"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sFirstName> varchar(50) -->
							<xs:simpleType name="sFirstName">
								<xs:restriction base="xs:string">
									<xs:length value="50"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sBusinessName> varchar(50) -->
							<xs:simpleType name="sBusinessName">
								<xs:restriction base="xs:string">
									<xs:length value="50"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sStreetNum> varchar(11)		Mailing address info -->
							<xs:simpleType name="sStreetNum">
								<xs:restriction base="xs:string">
									<xs:length value="11"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sStreet> varchar(50) -->
							<xs:simpleType name="sStreet">
								<xs:restriction base="xs:string">
									<xs:length value="50"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sCity> varchar(30) -->
							<xs:simpleType name="sCity">
								<xs:restriction base="xs:string">
									<xs:length value="30"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sState> char(2) -->
							<xs:simpleType name="sState">
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sZipcode> varchar(50) -->
							<xs:simpleType name="sZipcode">
								<xs:restriction base="xs:string">
									<xs:length value="50"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sPhone> varchar(14) -->
							<xs:simpleType name="sPhone">
								<xs:restriction base="xs:string">
									<xs:length value="14"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sAltPhone> varchar(14) -->
							<xs:simpleType name="sAltPhone">
								<xs:restriction base="xs:string">
									<xs:length value="14"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sFax> varchar(14) -->
							<xs:simpleType name="sFax">
								<xs:restriction base="xs:string">
									<xs:length value="14"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sEmail> varchar(255) -->
							<xs:simpleType name="sEmail">
								<xs:restriction base="xs:string">
									<xs:length value="255"/>
								</xs:restriction>
							</xs:simpleType>
		
			
						</xs:complexType>        
					</xs:element>
					<!-- <TreeLocFile>					Note that <TreeLocFile> section can be repeated for multiple files -->
					<xs:element name="TreeLocFile">
						<xs:complexType>
							<!-- <iTreeLocID> int			*File will be associated with this location -->
							<xs:simpleType name="iTreeLocID">
								<xs:restriction base="xs:integer">
									<xs:maxInclusive value="2147483647" />
									<xs:minInclusive value="-2147483648" />
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sFileName> varchar(100)		*Should conform to windows file naming standards - no special chars such as ? , etc... -->
							<xs:simpleType name="sFileName">
								<xs:restriction base="xs:string">
									<xs:length value="100"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sFile> BLOB data stream		*No data limit -->
							<xs:element name="blobsrc" type="xs:hexBinary"/>
			
						</xs:complexType>        
					</xs:element>
					<!-- <TreeRecs> -->
					<xs:element name="TreeRecs">
						<xs:complexType>
							<!-- <sTreeCode> char(4)			[NULL] or user selected from list below -->
							<xs:simpleType name="sTreeCode">
								<xs:restriction base="xs:string">
									<xs:length value="4"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sNotification> char(1)			*[N],O,C,H,R,Q -->
							<xs:simpleType name="sNotification">
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <nDBH> numeric(2, 0)			[NULL] or prescribed by CUF -->
							<xs:simpleType name="nDBH">
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value="0" />
									<xs:totalDigits value="2" />                    
								</xs:restriction>
							</xs:simpleType>
							<!-- <nHeight> numeric(3, 0)			Height in feet, rounded to integer value -->
							<xs:simpleType name="nHeight">
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value="0" />
									<xs:totalDigits value="3" />                    
								</xs:restriction>
							</xs:simpleType>
							<!-- <nClearance> numeric(2, 0)		[NULL] or prescribed by CUF -->
							<xs:simpleType name="nClearance">
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value="0" />
									<xs:totalDigits value="2" />                    
								</xs:restriction>
							</xs:simpleType>
							<!-- <nQty> numeric(5, 2)			[1] if listing single units of trees, or total quantity of trees of similar species/dbh/height -->
							<xs:simpleType name="nQty">
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value="2" />
									<xs:totalDigits value="5" />                    
								</xs:restriction>
							</xs:simpleType>
							<!-- <sTrimCode> char(3)			[NULL] or user selected from list below -->
							<xs:simpleType name="sTrimCode">
								<xs:restriction base="xs:string">
									<xs:length value="3"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <nManHours> numeric(5, 2)		[NULL] -->
							<xs:simpleType name="nManHours">
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value="2" />
									<xs:totalDigits value="5" />                    
								</xs:restriction>
							</xs:simpleType>
							<!-- <sPCode> char(1)			[R]Routine, N(No Trim),H(HN-Imd),U(HN-Urg),X(Accelerate),I(Immediate) - Can we setup proximity rules to select priority -->
							<xs:simpleType name="sPCode">
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sNextTrim> char(1)			[1],2,3 - Number of years until next inspection -->
							<xs:simpleType name="sNextTrim">
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sCrewType> char(2)			[NULL] -->
							<xs:simpleType name="sCrewType">
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sWorkType> char(1)			[NULL] -->
							<xs:simpleType name="sWorkType">
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sPoleOwner> char(1)			[P] -->
							<xs:simpleType name="sPoleOwner">
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sComment> char(45)			[NULL] or user entered -->
							<xs:simpleType name="sComment">
								<xs:restriction base="xs:string">
									<xs:length value="45"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sOwnedBy> char(2)			[NULL] or landowner value entered by user from list below -->
							<xs:simpleType name="sOwnedBy">
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <bUnderBuild> bit			*[0] Not sure if we can determine if there is underbuild -->
							<xs:element name="">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:pattern value="[0-1]"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!-- <bTreeConn> bit				*[0] -->
							<xs:element name="">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:pattern value="[0-1]"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!-- <bTreeWire> bit				*[0] -->
							<xs:element name="">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:pattern value="[0-1]"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!-- <bInsfClear> bit			*[0] -->
							<xs:element name="">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:pattern value="[0-1]"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!-- <sReason> char(2)			[NULL] -->
							<xs:simpleType name="sReason">
								<xs:restriction base="xs:string">
									<xs:length value="2"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sAcctType> char(1)			[W], R, Y, Z or from list below -->
							<xs:simpleType name="sAcctType">
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <bNotifyPhon> bit			*[0] or user entered -->
							<xs:element name="">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:pattern value="[0-1]"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!-- <bNotifyPers> bit			*[0] or user entered -->
							<xs:element name="">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:pattern value="[0-1]"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!-- <bNotifyDoor> bit			*[1] or user entered -->
							<xs:element name="">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:pattern value="[0-1]"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!-- <bNotifyPerm> bit			*[0] or user entered -->
							<xs:element name="">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:pattern value="[0-1]"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!-- <iTreeSort> tinyint			*Tree number, Integer increasing from 1,2,3,...,255 -->
							<xs:element name="iTreeSort">
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="0"/>
									<xs:maxInclusive value="255"/>
								</xs:restriction>
							</xs:element>
		
							<!-- <sWorkReq> char(11)			[NULL] -->
							<xs:simpleType name="sWorkReq">
								<xs:restriction base="xs:string">
									<xs:length value="11"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <iWRTreeRecsID> int			[NULL] -->
							<xs:simpleType name="iWRTreeRecsID">
								<xs:restriction base="xs:integer">
									<xs:maxInclusive value="2147483647" />
									<xs:minInclusive value="-2147483648" />
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <dtNextTrimDate> datetime		[Default to one year from inspection date] -->
							<xs:element name="dtNextTrimDate" type="xs:date"/>
		
							<!-- <sWrkRptNum> char(7)			[NULL] -->
							<xs:simpleType name="sWrkRptNum">
								<xs:restriction base="xs:string">
									<xs:length value="7"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sPerformCont> char(7)			[NULL] -->
							<xs:simpleType name="sPerformCont">
								<xs:restriction base="xs:string">
									<xs:length value="7"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <dtInspDate> datetime			*Date of inspection/flyover -->
							<xs:element name="dtInspDate" type="xs:date"/>
		
							<!-- <sInspComp> char(3)			*[PGE] or value from inspection company list below -->
							<xs:simpleType name="sInspComp">
								<xs:restriction base="xs:string">
									<xs:length value="3"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sInsp> char(4)				[inspector id] or [sysa] if unknown inspector -->
							<xs:simpleType name="sInsp">
								<xs:restriction base="xs:string">
									<xs:length value="4"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <dTGR> datetime				[NULL] -->
							<xs:element name="dTGR" type="xs:date"/>
		
							<!-- <sMWSDocNum> char(6)			[NULL] -->
							<xs:simpleType name="sMWSDocNum">
								<xs:restriction base="xs:string">
									<xs:length value="6"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sMWS>	char(1)				[N] - Not a MWS -->
							<xs:simpleType name="sMWS">
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <nProximity> tinyint			[NULL] or lateral distance in ft. to line -->
							<xs:element name="nProximity">
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="0"/>
									<xs:maxInclusive value="255"/>
								</xs:restriction>
							</xs:element>
		
							<!-- <dtTGRPriorLast> datetime		[NULL] -->
							<xs:element name="dtTGRPriorLast" type="xs:date"/>
		
							<!-- <dtTrimPriorLast> datetime		[NULL] -->
							<xs:element name="dtTrimPriorLast" type="xs:date"/>
		
							<!-- <nWireType> tinyint			[NULL] -->
							<xs:element name="nWireType">
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="0"/>
									<xs:maxInclusive value="255"/>
								</xs:restriction>
							</xs:element>
		
							<!-- <dtVisitedDate> datetime		Inspection Date -->
							<xs:element name="dtVisitedDate" type="xs:date"/>
		
							<!-- <sLineID2> char(6)			Secondary Line -->
							<xs:simpleType name="sLineID2">
								<xs:restriction base="xs:string">
									<xs:length value="6"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <sMWSUserID> char(50)			[NULL] -->
							<xs:simpleType name="sMWSUserID">
								<xs:restriction base="xs:string">
									<xs:length value="50"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <dtMWSSignedDate> datetime		[NULL] -->
							<xs:element name="dtMWSSignedDate" type="xs:date"/>
		
							<!-- <sRxComments> char(255)			[NULL] or user entered value -->
							<xs:simpleType name="sRxComments">
								<xs:restriction base="xs:string">
									<xs:length value="255"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <bVELBArea> bit				[0] -->
							<xs:element name="">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:pattern value="[0-1]"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!-- <bMWS> bit				[0] -->
							<xs:element name="">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:pattern value="[0-1]"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!-- <sTreeRecsStatus> char(10)		[OPEN] or value from list below -->
							<xs:simpleType name="sTreeRecsStatus">
								<xs:restriction base="xs:string">
									<xs:length value="10"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <bJointPole> bit			[0] -->
							<xs:element name="">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:pattern value="[0-1]"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<!-- <sJointPoleUtility> char(60)		[NULL] -->
							<xs:simpleType name="sJointPoleUtility">
								<xs:restriction base="xs:string">
									<xs:length value="60"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <ExternalTreeID> varchar(50)		Unique identifier of tree from external source system -->
							<xs:simpleType name="ExternalTreeID">
								<xs:restriction base="xs:string">
									<xs:length value="50"/>
								</xs:restriction>
							</xs:simpleType>
		
							<!-- <TreeRecs_GPS> -->
							<xs:element name="TreeRecs_GPS">
								<xs:complexType>
									<!-- <nLatitude> numeric(12, 9)		format:   39.736025000 -->
									<xs:simpleType name="nLatitude">
										<xs:restriction base="xs:decimal">
											<xs:fractionDigits value="9" />
											<xs:totalDigits value="12" />                    
										</xs:restriction>
									</xs:simpleType>
									<!-- <nLongitude> numeric(12, 9)		format: -121.859128000 -->
									<xs:simpleType name="nLongitude">
										<xs:restriction base="xs:decimal">
											<xs:fractionDigits value="9" />
											<xs:totalDigits value="12" />                    
										</xs:restriction>
									</xs:simpleType>
									<!-- <dtMobileCapture> datetime		Date/Time of flyover -->
									<xs:element name="dtMobileCapture" type="xs:date"/>
			
				
								</xs:complexType>        
							</xs:element>
							<!-- <TreeRecsAlerts> -->
							<xs:element name="TreeRecsAlerts">
								<xs:complexType>
									<!-- <iTreeLocID> int			*LocationID -->
									<xs:simpleType name="iTreeLocID">
										<xs:restriction base="xs:integer">
											<xs:maxInclusive value="2147483647" />
											<xs:minInclusive value="-2147483648" />
										</xs:restriction>
									</xs:simpleType>
			
									<!-- <sRACode> char(2)			*Alert code from list below -->
									<xs:simpleType name="sRACode">
										<xs:restriction base="xs:string">
											<xs:length value="2"/>
										</xs:restriction>
									</xs:simpleType>
			
									<!-- <sUserID> varchar(50)			*[UserID] -->
									<xs:simpleType name="sUserID">
										<xs:restriction base="xs:string">
											<xs:length value="50"/>
										</xs:restriction>
									</xs:simpleType>
			
									<!-- <dtDateAdded> datetime			*[Inspection Date] -->
									<xs:element name="dtDateAdded" type="xs:date"/>
			
				
								</xs:complexType>        
							</xs:element>
							<!-- <TreeRecsRestrictions> -->
							<xs:element name="TreeRecsRestrictions">
								<xs:complexType>
									<!-- <iTreeLocID> int 			*LocationID -->
									<xs:simpleType name="iTreeLocID">
										<xs:restriction base="xs:integer">
											<xs:maxInclusive value="2147483647" />
											<xs:minInclusive value="-2147483648" />
										</xs:restriction>
									</xs:simpleType>
			
									<!-- <sRestrictionCode> char(2)		*Restriction code -->
									<xs:simpleType name="sRestrictionCode">
										<xs:restriction base="xs:string">
											<xs:length value="2"/>
										</xs:restriction>
									</xs:simpleType>
			
									<!-- <bTreeRecsRestriction> bit		IF related sLT value is L, then 0, else 1  (see Restrictions Table below) -->
									<xs:element name="">
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:pattern value="[0-1]"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<!-- <sUserID> varchar(50) 			*[UserID] -->
									<xs:simpleType name="sUserID">
										<xs:restriction base="xs:string">
											<xs:length value="50"/>
										</xs:restriction>
									</xs:simpleType>
			
									<!-- <dtDateAdded> datetime 			*[Inspection Date] -->
									<xs:element name="dtDateAdded" type="xs:date"/>
			
				
								</xs:complexType>        
							</xs:element>
							<!-- <TreeRecsFile>					Note that <TreeRecsFile> section can be repeated for multiple files -->
							<xs:element name="TreeRecsFile">
								<xs:complexType>
									<!-- <iTreeRecsID> int			*File will be associated with this tree -->
									<xs:simpleType name="iTreeRecsID">
										<xs:restriction base="xs:integer">
											<xs:maxInclusive value="2147483647" />
											<xs:minInclusive value="-2147483648" />
										</xs:restriction>
									</xs:simpleType>
			
									<!-- <sFileName> varchar(100)		*Should conform to windows file naming standards - no special chars such as ? , etc... -->
									<xs:simpleType name="sFileName">
										<xs:restriction base="xs:string">
											<xs:length value="100"/>
										</xs:restriction>
									</xs:simpleType>
			
									<!-- <sFile> BLOB data stream		*No data limit -->
									<xs:element name="blobsrc" type="xs:hexBinary"/>
				
								</xs:complexType>        
							</xs:element>
			
						</xs:complexType>        
					</xs:element>
		
				</xs:complexType>        
			</xs:element>
	
		</xs:complexType>        
	</xs:element>

</xs:schema>

